<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css" >
</head>
<body>
    <header>
        <img src="img/logo-mercado-liebre.svg" id="logo">
        <div id="busquedad">
            <input placeholder="Buscar productos, marcas">
            <i class="fas fa-search"></i><br><br>
        </div>
        <article class="promocion">
            <i class="fas fa-hand-holding-usd"></i>
            <strong > Comprá en cuotas y sin tarjeta de crédito
            </strong>
        </article>
        <nav>
            <ul class="barra">
                <li>
                    <a href="/">Ofertas</a>
                </li>
                <li>
                    <a href="/">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="/">Vender</a>
                </li>
                <li>
                    <a href="/">Ayuda</a>
                </li>
            </ul>
            <ul class="barra-secundaria">
                <li>
                    <a href="/registro.html">Creá tu cuenta</a><i class="fas fa-money-check"></i>
                </li>
                <li>
                    </i><a href="/login.html">Ingresá</a><i class="fas fa-sign-in-alt"></i>
                </li>
                <li>
                    <a href="">Mis compras</a><i class="fas fa-shopping-cart"></i>
                </li>
            </ul>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>  
            <br>
            
        </nav>
        <img class= "banner" src="img/img-home-banner.jpg">
    </header>
    
    <form method="post">
        <p>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre y apellido" required minlength="5">
        </p>
        <p>
            <input type="text" id="nombre" name="nombreuser" placeholder="Nombre de usuario">
        </p>
        <b><label for="nacimiento" id="fecha">Fecha de nacimiento</label></b>
        <p>
            <input type="date" id="nacimiento" name="nacimiento" placeholder="Nacimiento" required>
        </p>
        <p>
            <input type="text" id="nombre" name="direccion" placeholder="Direccion">
        </p>
        
        <b><label for="perfil" id="perfil">Perfil del usuario</label></b>
        </p>
        <p>
            <input type="radio" name="perfil" value="Comprador" class="boton" checked> 
            <label>Comprador</label>
            <input type="radio" name="perfil" value="Vendedor" class="boton">
            <label>Vendedor</label>
        </p>
        <b><label for="Intereses" id="Intereses">Intereses del usuario</label></b>
        <p>
            <input type="checkbox" name="Intereses" value="Electro" class="boton" checked> 
            <label>Electro</label>
            <input type="checkbox" name="Intereses" value="Moda" class="boton" checked> 
            <label>Moda</label>
            <input type="checkbox" name="Intereses" value="Hogar" class="boton" checked> 
            <label>Hogar</label>
            <input type="checkbox" name="Intereses" value="Jugueteria" class="boton" checked> 
            <label>Jugueteria</label>
            <input type="checkbox" name="Intereses" value="Vida sana" class="boton" checked> 
            <label>Vida sana</label>
        </p>
        </p>
        
            <b><label for="fotoperfil" id="fotoperfil">Ingrese foto perfil del usuario</label></b>
        </p>
        <p>
            <input type="file" id="fotoperfil" name="fotoperfil" accept=".jpg">
        </p>
        <p>        
            <input type="password" id="contraseña" name="contraseña" placeholder="Ingrese su contraseña" required>
        </p>
        <p>        
            <input type="password" id="contraseña" name="contraseña" placeholder="Confirme su contraseña" required>
        </p>
        <p>
            <input id="ingreso" type="submit" value="Enviar"> </input>
        </p>
        <p>
            <input id="ingreso" type="reset" value="Borrar"> </input>
        </p>
        
    </form>

    <footer>
        <i class="fas fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo </h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro! </p>
        <i class="fas fa-gift"></i>
        <h3> Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos. </p> 
        <i class="fas fa-user-shield"></i>
        <h3> Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@. </p>
        <h3 id="derecho"> Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>

    </footer>
    
</body>
</html>