
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
    background: #EAC926;
    font-family: 'Roboto', sans-serif;
    font-size: 12;
}

footer i{
    color: #03264C;
    width: 30px;
    font-size: 2em;
}

footer h3{
    margin-top: 3px;
    margin-bottom: 0px;
}
footer p{
    margin-top: 3px;
    margin-bottom: 15px;
}

footer{
    margin-top: 30px;
}
section{
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#derecho {
    font-size: 0.7em;
}

.titulares {
    font-size: 24;
}
.promocion{
    text-align: center;
}
.burger-menu {
    background-color: blue;
    text-align: center;
    color: white;
    width: 20px;
    margin-left: 50%; 
}
.banner {
    width: 100%;
}
.precio{
    font-size: 18;
}
.descuento {
    font-size: 16;
}
img {
    width: 90%;
}
p{ 
    font-size: 12;
}


/*
:root { Amarillo: #EAC926;
    Azul: #03264C;
    Celeste: #1259c3;
    Gris oscuro: #666;
    Gris claro: #ebebeb;
    Verde: #39b54a;
}
*/